@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&subset=cyrillic');

* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box; 
 
}
 
body
{
   
} 

header {
    width: 100%;
    box-shadow: 3px 3px 1px #794f4f;
    padding: 20px 0;
    margin-bottom: 10px;
    position: relative;
    background-color: #3d3239
}


.adress a{
    color: white;
    margin:  0px 0px 0px 50%;
 
}

.adress button{
color:white;
float:right;
padding: 10px 16px;
margin-right: 35px;
margin-top: 10px;
background-color: #794f4f;
border-radius: 10px; 
outline: none;
margin-left: 100px;
box-shadow: 3px 3px 1px #794f4f;
}

.adress p {
    color: white;
    display: table; 
    float: center;
    padding:  0px 0px 0px 50%;
  
}

.logo {
    display: block; 
    float: left;
    text-decoration: none;  
    
}

a :hover {
    text-decoration: none;
    color: #111;
    text-decoration: none; 
    color: black
}

.logo span {
    color: white;
    display: inline-block;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 50%;
    margin: 5px 0;
    font-size: 30px;
    text-align: center;
    text-shadow: 2px 2px 1px rgba(0,0,0,.4);
}

.logo span:nth-child(odd) {
    background: #794f4f;
}

.logo span:nth-child(even) {
    background: #F8B763;
}

h1
{
   color: antiquewhite;
}

#content{
    width: 1000px;
    margin: 10px auto 0px;
    position: relative;
}


#nav
{
    font-family: 'Open Sans', arial;
    
}

#nav li
{
    float: left;
    position: relative;
    list-style: none;
    background: #794f4f;
    width: 190px;

    
}

#nav a{
    text-decoration: none;
    display: block;
    padding: 35px 65px;
    color: white;

}

#active a, #nav li:hover > a{
    background: #5a2626;
}

#nav ul li:hover{
    background: #d92a2a;
}

#nav >li{
    border-right: none;
}

#nav >li ul li{
    border-left: 2px solid #d92a2a;
    border-right: 2px solid #d92a2a;
}

#nav li:first-child ul, #nav li:first-child ul{
    border-left: none;
}

#MainStrMenu{
    width: 100%;
    margin: 100px auto 10px;
    float: center;
    padding: 150px 10% 3px ;
    z-index: 1;
    position: relative;
}


.imgMainMenu img{
    border: 2px solid #2e192bc4; /* Рамка вокруг фотографии */
    padding: 15px 15px 70px 15px; /* Расстояние от картинки до рамки */
    background: rgba(102, 102, 102, 0.274); /* Цвет фона */
    margin: 32px; /* Отступ справа */
    margin-bottom: 10px; /* Отступ снизу */
    z-index: 1;
    border-radius: 20px;
}

h3{
    color: rgb(255, 255, 255);
    position: relative;
}

#MainTEXTMenu {
background-color: #794f4f

}

 
.centerText p{
    position: relative;
    color: white;
    margin: 5% 20% ;
    padding: 5px 5px;
    background-color: #794f4fa1
}




.container1{
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: 0px;
    margin-left: 0px;

}
 .card-deck{
margin-top: 50px;
    /* position:fixed; */
 }

img{
    max-width: 100%;
    display: block;
}


.label{
   margin-top: 10rem; 
   text-align: center
}

.card-text{
    color: white;
}

.card-title{
    color: white;
}

.card-body{
    background-color: #3d3239;

}

.buttonOnCard{
color:white;
padding: 10px 16px;
background-color: #794f4f;
border-radius: 10px; 
outline: none;
}

.card {
    background-color:#794f4f;
    margin-bottom: 10px;
}

button:focus{
    outline: none !important;
}

button:active{
    background-color: #794f4fa1;
}

/* анимация начало */
.large-header {
    position: relative;
    width: 100%;
    background: #111;
    overflow: hidden;
    background-size: cover;
    background-position: center center;
    z-index: 0;
 }
 
 .demo .large-header {
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/499416/demo-bg.jpg");
    z-index: 0;
    position: fixed;
    width: 100%;
    height: 100%;
 }
 
 

 
 /* анимация конец */